---
import { Icon } from "astro-icon/components";

const active = Astro.url.pathname;
---

<header>
  <div class="flex justify-between">
    <div></div>
    <div>
      <a href="/browse">Browse</a>
    </div>
  </div>
</header>
