---
import { SEO } from "astro-seo";

interface Props {
  title: string;
  description?: string;
  OpenGraphImg?: string;
}

const { title, description, OpenGraphImg } = Astro.props;
---

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>

<html lang="en">
  <head>
    <SEO
      charset="utf-8"
      title={title}
      description={description ?? "No description made yet"}
      extend={{
        link: [{ rel: "icon", type: "image/svg+xml", href: "/favicon.svg" }],
        meta: [
          { name: "viewport", content: "width=device-width" },
          { name: "generator", content: Astro.generator },
        ],
      }}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
